-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: leetec_sms
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `__efmigrationshistory`
--

DROP TABLE IF EXISTS `__efmigrationshistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `__efmigrationshistory` (
  `MigrationId` varchar(150) NOT NULL,
  `ProductVersion` varchar(32) NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__efmigrationshistory`
--

LOCK TABLES `__efmigrationshistory` WRITE;
/*!40000 ALTER TABLE `__efmigrationshistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `__efmigrationshistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcements` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `Title` longtext NOT NULL,
  `Content` longtext NOT NULL,
  `TargetCampus` longtext NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
INSERT INTO `announcements` VALUES (1,1,'Exams','starting soon','All','2026-06-16 12:15:25.768003',1);
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emergencycontacts`
--

DROP TABLE IF EXISTS `emergencycontacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emergencycontacts` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `StudentId` int(11) NOT NULL,
  `Name` longtext NOT NULL,
  `HomeTelephone` longtext NOT NULL,
  `BusinessTelephone` longtext NOT NULL,
  `Cell` longtext NOT NULL,
  `Relationship` longtext NOT NULL,
  `ContactOrder` int(11) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_EmergencyContacts_StudentId` (`StudentId`),
  CONSTRAINT `FK_EmergencyContacts_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emergencycontacts`
--

LOCK TABLES `emergencycontacts` WRITE;
/*!40000 ALTER TABLE `emergencycontacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `emergencycontacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `families`
--

DROP TABLE IF EXISTS `families`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `families` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `StudentId` int(11) NOT NULL,
  `MaritalStatus` longtext NOT NULL,
  `HomeLanguage` longtext NOT NULL,
  `Religion` longtext NOT NULL,
  `HomeAddress` longtext NOT NULL,
  `HomeTelephone` longtext NOT NULL,
  `Cell` longtext NOT NULL,
  `Email` longtext NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Families_StudentId` (`StudentId`),
  CONSTRAINT `FK_Families_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `families`
--

LOCK TABLES `families` WRITE;
/*!40000 ALTER TABLE `families` DISABLE KEYS */;
/*!40000 ALTER TABLE `families` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feecategories`
--

DROP TABLE IF EXISTS `feecategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feecategories` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `Name` longtext NOT NULL,
  `Description` longtext DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_FeeCategories_SchoolId` (`SchoolId`),
  CONSTRAINT `FK_FeeCategories_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feecategories`
--

LOCK TABLES `feecategories` WRITE;
/*!40000 ALTER TABLE `feecategories` DISABLE KEYS */;
INSERT INTO `feecategories` VALUES (1,1,'Tuition Fee','Main tuition fee for all students',1),(2,1,'Administration Fee','School administration fee',1),(3,1,'School Development Fee','School development and infrastructure fee',1),(4,1,'Accommodation Fee','Boarding accommodation fee',1),(5,1,'Examination Fee','Examination and assessment fee',1),(7,1,'Lab Fee','Laboratory and science fee',1),(8,1,'Tuition & Boarding','Combined tuition and boarding fee',1),(9,1,'trip','Core Fees',1),(10,1,'winter camp','Core Fees',1);
/*!40000 ALTER TABLE `feecategories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feepackageitems`
--

DROP TABLE IF EXISTS `feepackageitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feepackageitems` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `FeePackageId` int(11) NOT NULL,
  `FeeCategoryId` int(11) NOT NULL,
  `Amount` decimal(18,2) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_FeePackageItems_FeeCategoryId` (`FeeCategoryId`),
  KEY `IX_FeePackageItems_FeePackageId` (`FeePackageId`),
  CONSTRAINT `FK_FeePackageItems_FeeCategories_FeeCategoryId` FOREIGN KEY (`FeeCategoryId`) REFERENCES `feecategories` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_FeePackageItems_FeePackages_FeePackageId` FOREIGN KEY (`FeePackageId`) REFERENCES `feepackages` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feepackageitems`
--

LOCK TABLES `feepackageitems` WRITE;
/*!40000 ALTER TABLE `feepackageitems` DISABLE KEYS */;
INSERT INTO `feepackageitems` VALUES (1,1,1,450.00),(2,1,2,100.00),(3,1,3,150.00),(5,2,1,450.00),(6,2,2,100.00),(7,2,3,150.00),(9,3,1,450.00),(10,3,2,100.00),(11,3,3,150.00),(12,3,4,800.00),(54,4,1,400.00),(55,4,2,50.00),(56,4,3,50.00),(57,4,8,500.00),(58,5,1,450.00),(59,5,2,50.00),(60,5,7,30.00),(61,5,3,50.00),(62,5,1,300.00),(63,7,1,500.00),(64,7,2,50.00),(65,7,7,50.00),(66,7,3,50.00);
/*!40000 ALTER TABLE `feepackageitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feepackages`
--

DROP TABLE IF EXISTS `feepackages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feepackages` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `TermId` int(11) NOT NULL,
  `Name` longtext NOT NULL,
  `StudentType` longtext NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `LockedAt` datetime(6) DEFAULT NULL,
  `LockedBy` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_FeePackages_SchoolId` (`SchoolId`),
  KEY `IX_FeePackages_TermId` (`TermId`),
  CONSTRAINT `FK_FeePackages_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_FeePackages_Terms_TermId` FOREIGN KEY (`TermId`) REFERENCES `terms` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feepackages`
--

LOCK TABLES `feepackages` WRITE;
/*!40000 ALTER TABLE `feepackages` DISABLE KEYS */;
INSERT INTO `feepackages` VALUES (1,1,1,'Day Scholar Term 1 2026','Day',1,NULL,NULL),(2,1,1,'Day Scholar Term 1 2026','Day',1,NULL,NULL),(3,1,1,'Boarding Term 1 2026','Boarding',1,NULL,NULL),(4,1,1,'AHJ Day Package','Day',1,'2026-06-03 14:44:46.006406','admin@leetec.com'),(5,1,1,'AHA Day Package','Day',1,'2026-06-03 14:45:29.455747','admin@leetec.com'),(6,1,1,'AHJ Day Package','Day',1,NULL,NULL),(7,1,1,'AHS Day Package','Day',1,'2026-06-03 14:47:01.583473','admin@leetec.com'),(8,1,1,'AHS Day Package','Day',1,NULL,NULL),(9,1,1,'AHS Day Package','Day',1,NULL,NULL);
/*!40000 ALTER TABLE `feepackages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guardians`
--

DROP TABLE IF EXISTS `guardians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guardians` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `StudentId` int(11) NOT NULL,
  `GuardianType` longtext NOT NULL,
  `Surname` longtext NOT NULL,
  `Forenames` longtext NOT NULL,
  `Title` longtext NOT NULL,
  `Nationality` longtext NOT NULL,
  `Occupation` longtext NOT NULL,
  `CompanyName` longtext NOT NULL,
  `BusinessAddress` longtext NOT NULL,
  `BusinessTelephone` longtext NOT NULL,
  `Cell` longtext NOT NULL,
  `Email` longtext NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Guardians_StudentId` (`StudentId`),
  CONSTRAINT `FK_Guardians_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guardians`
--

LOCK TABLES `guardians` WRITE;
/*!40000 ALTER TABLE `guardians` DISABLE KEYS */;
/*!40000 ALTER TABLE `guardians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoiceitems`
--

DROP TABLE IF EXISTS `invoiceitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoiceitems` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `InvoiceId` int(11) NOT NULL,
  `FeeCategoryId` int(11) NOT NULL,
  `Description` longtext NOT NULL,
  `Amount` decimal(18,2) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_InvoiceItems_FeeCategoryId` (`FeeCategoryId`),
  KEY `IX_InvoiceItems_InvoiceId` (`InvoiceId`),
  CONSTRAINT `FK_InvoiceItems_FeeCategories_FeeCategoryId` FOREIGN KEY (`FeeCategoryId`) REFERENCES `feecategories` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_InvoiceItems_Invoices_InvoiceId` FOREIGN KEY (`InvoiceId`) REFERENCES `invoices` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoiceitems`
--

LOCK TABLES `invoiceitems` WRITE;
/*!40000 ALTER TABLE `invoiceitems` DISABLE KEYS */;
INSERT INTO `invoiceitems` VALUES (11,12,1,'Tuition Fee',450.00),(12,12,1,'Tuition Fee',1500.00),(13,12,2,'Administration Fee',90.00),(14,13,2,'Administration Fee',90.00),(15,14,1,'Tuition Fee',1500.00),(16,15,1,'Tuition Fee',1500.00),(17,12,7,'Lab Fee',15.00),(18,13,7,'Lab Fee',15.00),(19,12,5,'Examination Fee',20.00),(20,13,5,'Examination Fee',20.00),(22,14,10,'winter camp',50.00),(23,12,10,'winter camp',50.00),(24,13,10,'winter camp',50.00),(25,15,10,'winter camp',50.00),(26,16,10,'winter camp',50.00),(27,16,1,'Tuition Fee',1500.00);
/*!40000 ALTER TABLE `invoiceitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `StudentId` int(11) NOT NULL,
  `TermId` int(11) NOT NULL,
  `FeePackageId` int(11) DEFAULT NULL,
  `InvoiceNumber` longtext NOT NULL,
  `TotalAmount` decimal(18,2) NOT NULL,
  `AmountPaid` decimal(18,2) NOT NULL,
  `Balance` decimal(18,2) NOT NULL,
  `Status` longtext NOT NULL,
  `IssuedDate` datetime(6) NOT NULL,
  `DueDate` datetime(6) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Invoices_FeePackageId` (`FeePackageId`),
  KEY `IX_Invoices_SchoolId` (`SchoolId`),
  KEY `IX_Invoices_StudentId` (`StudentId`),
  KEY `IX_Invoices_TermId` (`TermId`),
  CONSTRAINT `FK_Invoices_FeePackages_FeePackageId` FOREIGN KEY (`FeePackageId`) REFERENCES `feepackages` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `FK_Invoices_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Invoices_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Invoices_Terms_TermId` FOREIGN KEY (`TermId`) REFERENCES `terms` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoicingdetails`
--

DROP TABLE IF EXISTS `invoicingdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoicingdetails` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `StudentId` int(11) NOT NULL,
  `Surname` longtext NOT NULL,
  `Initials` longtext NOT NULL,
  `Title` longtext NOT NULL,
  `PostalAddress` longtext NOT NULL,
  `PersonalEmail` longtext NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_InvoicingDetails_StudentId` (`StudentId`),
  CONSTRAINT `FK_InvoicingDetails_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoicingdetails`
--

LOCK TABLES `invoicingdetails` WRITE;
/*!40000 ALTER TABLE `invoicingdetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoicingdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marks`
--

DROP TABLE IF EXISTS `marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marks` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `StudentId` int(11) NOT NULL,
  `SubjectId` int(11) NOT NULL,
  `TermId` int(11) NOT NULL,
  `AssessmentType` longtext NOT NULL,
  `Paper1Score` decimal(5,2) DEFAULT NULL,
  `Paper2Score` decimal(5,2) DEFAULT NULL,
  `Score` decimal(5,2) DEFAULT NULL,
  `Comments` longtext DEFAULT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Marks_StudentId` (`StudentId`),
  KEY `IX_Marks_SubjectId` (`SubjectId`),
  KEY `IX_Marks_TermId` (`TermId`),
  CONSTRAINT `FK_Marks_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Marks_Subjects_SubjectId` FOREIGN KEY (`SubjectId`) REFERENCES `subjects` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Marks_Terms_TermId` FOREIGN KEY (`TermId`) REFERENCES `terms` (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marks`
--

LOCK TABLES `marks` WRITE;
/*!40000 ALTER TABLE `marks` DISABLE KEYS */;
/*!40000 ALTER TABLE `marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `InvoiceId` int(11) NOT NULL,
  `StudentId` int(11) NOT NULL,
  `PostedByUserId` int(11) NOT NULL,
  `Amount` decimal(18,2) NOT NULL,
  `PaymentMethod` longtext NOT NULL,
  `ReceiptNumber` longtext NOT NULL,
  `Notes` longtext DEFAULT NULL,
  `PaymentDate` datetime(6) NOT NULL,
  `PostedAt` datetime(6) NOT NULL,
  `ReceiptReference` longtext NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Payments_InvoiceId` (`InvoiceId`),
  KEY `IX_Payments_SchoolId` (`SchoolId`),
  KEY `IX_Payments_StudentId` (`StudentId`),
  CONSTRAINT `FK_Payments_Invoices_InvoiceId` FOREIGN KEY (`InvoiceId`) REFERENCES `invoices` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Payments_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Payments_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Name` longtext NOT NULL,
  `Description` longtext NOT NULL,
  `Category` longtext NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reportcardrecords`
--

DROP TABLE IF EXISTS `reportcardrecords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reportcardrecords` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `StudentId` int(11) NOT NULL,
  `TermId` int(11) NOT NULL,
  `GeneratedAt` datetime(6) NOT NULL,
  `Status` longtext NOT NULL,
  `ReportData` longtext NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reportcardrecords`
--

LOCK TABLES `reportcardrecords` WRITE;
/*!40000 ALTER TABLE `reportcardrecords` DISABLE KEYS */;
/*!40000 ALTER TABLE `reportcardrecords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rolepermissions`
--

DROP TABLE IF EXISTS `rolepermissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rolepermissions` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `RoleId` int(11) NOT NULL,
  `PermissionId` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_RolePermissions_PermissionId` (`PermissionId`),
  KEY `IX_RolePermissions_RoleId` (`RoleId`),
  CONSTRAINT `FK_RolePermissions_Permissions_PermissionId` FOREIGN KEY (`PermissionId`) REFERENCES `permissions` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_RolePermissions_Roles_RoleId` FOREIGN KEY (`RoleId`) REFERENCES `roles` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rolepermissions`
--

LOCK TABLES `rolepermissions` WRITE;
/*!40000 ALTER TABLE `rolepermissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `rolepermissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) DEFAULT NULL,
  `Name` longtext NOT NULL,
  `Description` longtext NOT NULL,
  `IsSystemRole` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Roles_SchoolId` (`SchoolId`),
  CONSTRAINT `FK_Roles_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schools`
--

DROP TABLE IF EXISTS `schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schools` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Name` longtext NOT NULL,
  `Address` longtext NOT NULL,
  `Phone` longtext NOT NULL,
  `Email` longtext NOT NULL,
  `LogoUrl` longtext NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schools`
--

LOCK TABLES `schools` WRITE;
/*!40000 ALTER TABLE `schools` DISABLE KEYS */;
INSERT INTO `schools` VALUES (1,'Waterfalls Adventist High School','Waterfalls, Harare','+263 77 000 0000','info@waterfallsadventist.ac.zw','',1,'2026-04-30 02:46:19.168784');
/*!40000 ALTER TABLE `schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentportalaccounts`
--

DROP TABLE IF EXISTS `studentportalaccounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentportalaccounts` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `StudentId` int(11) NOT NULL,
  `Email` longtext NOT NULL,
  `PasswordHash` longtext NOT NULL,
  `Status` longtext NOT NULL,
  `EmailVerified` tinyint(1) NOT NULL,
  `EmailVerificationToken` longtext DEFAULT NULL,
  `EmailVerificationExpiry` datetime(6) DEFAULT NULL,
  `PasswordResetToken` longtext DEFAULT NULL,
  `PasswordResetExpiry` datetime(6) DEFAULT NULL,
  `LastLoginAt` datetime(6) DEFAULT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `ApprovedAt` datetime(6) DEFAULT NULL,
  `ApprovedByUserId` int(11) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_StudentPortalAccounts_StudentId` (`StudentId`),
  CONSTRAINT `FK_StudentPortalAccounts_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentportalaccounts`
--

LOCK TABLES `studentportalaccounts` WRITE;
/*!40000 ALTER TABLE `studentportalaccounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentportalaccounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `UserId` int(11) DEFAULT NULL,
  `StudentNumber` longtext NOT NULL,
  `Surname` longtext NOT NULL,
  `FirstName` longtext NOT NULL,
  `DateOfBirth` longtext NOT NULL,
  `BirthCertificateNo` longtext NOT NULL,
  `Gender` longtext NOT NULL,
  `Form` longtext NOT NULL,
  `DateOfEntry` longtext NOT NULL,
  `Race` longtext NOT NULL,
  `PreviousSchool` longtext NOT NULL,
  `OtherInformation` longtext NOT NULL,
  `FamilyDoctorName` longtext NOT NULL,
  `FamilyDoctorPhone` longtext NOT NULL,
  `MedicalAidSociety` longtext NOT NULL,
  `MedicalAidNo` longtext NOT NULL,
  `Allergies` longtext NOT NULL,
  `Denomination` longtext NOT NULL,
  `Status` longtext NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `Curriculum` longtext NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Students_SchoolId` (`SchoolId`),
  KEY `IX_Students_UserId` (`UserId`),
  CONSTRAINT `FK_Students_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Students_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `users` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `Name` longtext NOT NULL,
  `Code` longtext NOT NULL,
  `Campus` longtext NOT NULL,
  `Level` longtext NOT NULL,
  `CurriculumType` longtext NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachersubjectassignments`
--

DROP TABLE IF EXISTS `teachersubjectassignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachersubjectassignments` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `TeacherId` int(11) NOT NULL,
  `SubjectId` int(11) NOT NULL,
  `Campus` longtext NOT NULL,
  `Form` longtext NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_TeacherSubjectAssignments_SubjectId` (`SubjectId`),
  KEY `IX_TeacherSubjectAssignments_TeacherId` (`TeacherId`),
  CONSTRAINT `FK_TeacherSubjectAssignments_Subjects_SubjectId` FOREIGN KEY (`SubjectId`) REFERENCES `subjects` (`Id`),
  CONSTRAINT `FK_TeacherSubjectAssignments_Users_TeacherId` FOREIGN KEY (`TeacherId`) REFERENCES `users` (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachersubjectassignments`
--

LOCK TABLES `teachersubjectassignments` WRITE;
/*!40000 ALTER TABLE `teachersubjectassignments` DISABLE KEYS */;
INSERT INTO `teachersubjectassignments` VALUES (1,1,10,16,'AHJ','Grade 4',1,'2026-06-16 13:57:17.000000'),(2,1,10,17,'AHJ','Grade 4',1,'2026-06-16 13:57:17.000000'),(3,1,10,21,'AHJ','Grade 1',1,'2026-06-16 12:13:49.766090'),(4,1,11,39,'AHJ','Grade 2',1,'2026-06-16 17:52:59.036701'),(5,1,11,33,'AHA','Form 6',1,'2026-06-16 17:53:13.938498'),(6,1,11,14,'AHA','Form 1',1,'2026-06-16 17:53:46.283076');
/*!40000 ALTER TABLE `teachersubjectassignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `termregistrations`
--

DROP TABLE IF EXISTS `termregistrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `termregistrations` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `StudentId` int(11) NOT NULL,
  `TermId` int(11) NOT NULL,
  `SchoolId` int(11) NOT NULL,
  `Form` longtext NOT NULL,
  `ClassSection` longtext NOT NULL,
  `Campus` longtext NOT NULL,
  `FeePackageId` int(11) DEFAULT NULL,
  `HasPaidFees` tinyint(1) NOT NULL,
  `PaymentStatus` longtext NOT NULL,
  `PromotionStatus` longtext NOT NULL,
  `Status` longtext NOT NULL,
  `RegisteredAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_TermRegistrations_FeePackageId` (`FeePackageId`),
  KEY `IX_TermRegistrations_SchoolId` (`SchoolId`),
  KEY `IX_TermRegistrations_StudentId` (`StudentId`),
  KEY `IX_TermRegistrations_TermId` (`TermId`),
  CONSTRAINT `FK_TermRegistrations_FeePackages_FeePackageId` FOREIGN KEY (`FeePackageId`) REFERENCES `feepackages` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `FK_TermRegistrations_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_TermRegistrations_Students_StudentId` FOREIGN KEY (`StudentId`) REFERENCES `students` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_TermRegistrations_Terms_TermId` FOREIGN KEY (`TermId`) REFERENCES `terms` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `termregistrations`
--

LOCK TABLES `termregistrations` WRITE;
/*!40000 ALTER TABLE `termregistrations` DISABLE KEYS */;
INSERT INTO `termregistrations` VALUES (2,41,1,1,'Upper 6','Upper 6','AHS',NULL,1,'Paid','Pending','Active','2026-06-01 14:43:30.462280'),(3,42,1,1,'Form 4','Form 4','AHA',NULL,0,'Unpaid','Pending','Active','2026-06-03 13:26:48.596392'),(4,45,1,1,'Grade 4','Grade 4','AHJ',NULL,0,'Pending','Pending','Active','2026-06-14 17:21:01.114768'),(5,43,1,1,'Form 4','Form 4','AHA',NULL,0,'Pending','Pending','Active','2026-06-16 03:10:05.465656'),(6,44,1,1,'Form 1','Form 1','AHA',NULL,0,'Pending','Pending','Active','2026-06-16 03:10:05.491085');
/*!40000 ALTER TABLE `termregistrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terms`
--

DROP TABLE IF EXISTS `terms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `terms` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `Name` longtext NOT NULL,
  `TermNumber` int(11) NOT NULL,
  `Year` int(11) NOT NULL,
  `StartDate` datetime(6) NOT NULL,
  `EndDate` datetime(6) NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Terms_SchoolId` (`SchoolId`),
  CONSTRAINT `FK_Terms_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terms`
--

LOCK TABLES `terms` WRITE;
/*!40000 ALTER TABLE `terms` DISABLE KEYS */;
INSERT INTO `terms` VALUES (1,1,'Term 1 2026',1,2026,'2026-01-20 00:00:00.000000','2026-04-04 00:00:00.000000',1,'2026-05-03 07:32:56.589795');
/*!40000 ALTER TABLE `terms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userroles`
--

DROP TABLE IF EXISTS `userroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `userroles` (
  `Id` int(11) NOT NULL,
  `UserId` int(11) NOT NULL,
  `RoleId` int(11) NOT NULL,
  KEY `IX_UserRoles_RoleId` (`RoleId`),
  KEY `IX_UserRoles_UserId` (`UserId`),
  CONSTRAINT `FK_UserRoles_Roles_RoleId` FOREIGN KEY (`RoleId`) REFERENCES `roles` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_UserRoles_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `users` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userroles`
--

LOCK TABLES `userroles` WRITE;
/*!40000 ALTER TABLE `userroles` DISABLE KEYS */;
INSERT INTO `userroles` VALUES (1,4,1),(0,10,14),(0,11,14);
/*!40000 ALTER TABLE `userroles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SchoolId` int(11) NOT NULL,
  `FirstName` longtext NOT NULL,
  `LastName` longtext NOT NULL,
  `Email` longtext NOT NULL,
  `PasswordHash` longtext NOT NULL,
  `Status` longtext NOT NULL,
  `EmailVerified` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `PhoneNumber` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Users_SchoolId` (`SchoolId`),
  CONSTRAINT `FK_Users_Schools_SchoolId` FOREIGN KEY (`SchoolId`) REFERENCES `schools` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-18 15:15:20
